<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <!-- <p id="abc1234">{{ num }}</p> -->
        <p>{{ doubleNum }}</p>
        <div v-if="loading">
            <!-- loading이 false이면 아예 없어짐 -->
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading">
            <!-- false일경우, 존재는 함 style="display:none;" -->
            Loading...
        </div>
        <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
        <input type="text" v-model="message" placeholder="Type anything.">
        <p>Message is {{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: false,
                message: ''
            },
            computed: {
                doubleNum: function () {
                    return this.num * 2;
                }
            }
        })
    </script>
</body>

</html>